BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentWidth: 4
UseTab: Never
TabWidth: 4
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
IndentCaseLabels: true
IndentCaseBlocks: true
PointerAlignment: Left
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
AlwaysBreakTemplateDeclarations: true
ReflowComments: true
SpacesBeforeTrailingComments: 1
NamespaceIndentation: None
Cpp11BracedListStyle: true