config RT_CONFIG
	bool "Enable run time configuration macros with NVS storage"
	select NVS
	select FLASH
	select FLASH_PAGE_LAYOUT
	select SHELL
	help
	   Enable run time configuration macros with NVS storage