config RT_CONFIG
	bool "Enable RT configurations"
	

config RT_CONFIG_USE_NVS
	bool "Enable run time configuration macros with NVS storage"
	select NVS
	select FLASH
	select FLASH_PAGE_LAYOUT
	select SHELL
	select RT_CONFIG
	help
	   Enable run time configuration macros with NVS storage

config RT_CONFIG_USE_FILE
	bool "RT Configurations stored in a file"
	select FLASH
	select FLASH_PAGE_LAYOUT
	select FLASH_MAP
	select DISK_DRIVERS
	select RT_CONFIG
	select FAT_FILESYSTEM_ELM
	select FS_FATFS_LFN
	imply DISK_DRIVER_FLASH
	select FILE_SYSTEM
	select FAT_FILESYSTEM_ELM
	select FS_FATFS_LFN

	help
	   RT Configurations stored in a file
	   This option is used to store the RT Configurations in a file.
	   The file is stored in the USB mass storage device
